@import 'fonts';
@import 'config';
@import 'libs';
@import 'keyframes';

:root {
  --text: #131313;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $default-font, Arial, Helvetica, sans-serif;
  color: #000;
  line-height: 1.35;

  &.hidden {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    color: #5c9dff;
  }
}

.input {
  font-size: 1.2rem;
  display: block;
  position: relative;
  font-weight: 600;
  color: #000;
  padding: 12px 67px 11px 22px;
  outline: none;
  border-radius: 15px;
  max-width: 460px;
  width: 100%;
  margin-bottom: 8.5px;
  border: 1px solid #5c9dff;
  background-image: url(assets/img/dist/input-arrow.svg);
  background-position: calc(100% - 25px) center;
  background-size: auto 16px;
  background-repeat: no-repeat;

  &::placeholder {
    opacity: 0.2;
  }

  &:active,
  &:focus {
    border: 1px solid rgba(#000, .3);
  }
}

.h1 {
  color: var(--text);
  font-weight: bold;
  font-size: 2.55rem;
  letter-spacing: -0.04rem;
}

.h2 {
  font-weight: bold;
  font-size: 2.55rem;
  letter-spacing: -0.04rem;
}

.btn {
  background-color: #E3EEFF;
  display: inline-block;
  position: relative;
  outline: none;
  border: none;
  flex: 0 0 auto;
  border-radius: 20px;
  cursor: pointer;
  padding: 16px 31px 17px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
  color: #5C9DFF;
  font-size: 1.05rem;
  font-weight: 600;

  &:hover {
    background-color: #b6d3ff;
  }

  &--arrow {
    padding-right: 64px;

    &::after {
      content: "";
      height: 1.05rem;
      width: 1.5rem;
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(assets/img/dist/arr-down.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &--primary {
    background-color: #5c9dff;
    color: #fff;

    &:hover {
      background-color: #77ADFf;
    }
  }

  &--light {
    background-color: rgba(#fff, .3);
    color: #fff;

    &:hover {
      background-color: rgba(#fff, .5);
    }
  }

  &--contrast {
    color: #000;
    background-color: #fff;

    &:hover {
      background-color: rgba(#fff, .78);
    }
  }

  &--transparent {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;

    &:hover {
      background-color: transparent;
      color: #000;
      opacity: 0.3;
    }
  }

  &--scroll-up {
    &::after {
      content: "->";
      display: inline-block;
      margin-left: 6px;
      position: relative;
      transform: rotate(-90deg);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.hamburger {
  margin-left: auto;
}

.kama_breadcrumbs {
  font-weight: bold;
  margin-bottom: -6px;
  position: relative;
  z-index: 10;

  a {
    &:hover {
      opacity: 0.65;
    }
  }
}

.kb_sep {
  color: #5c9dff;
}

.btn-wrap {
  display: flex;
  align-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.dropdown {
  list-style-type: none;
  margin: 0 0 0 1.95rem;
  padding: 0;

  &__current {
    position: relative;

    &:hover {
      .dropdown__list {
        display: block;
      }
    }
  }

  &__text {
    margin: 0;
    padding: 5px 37px 7px 16px;
    font-weight: 600;
    letter-spacing: -0.03rem;
    background-color: #e3eeff;
    border-radius: 9px;
    cursor: default;
    color: #5c9dff;
    position: relative;

    &::after {
      content: "";
      display: block;
      background-image: url(assets/img/dist/dropdown-arrow.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      pointer-events: none;
      position: absolute;
    }
  }

  &__list {
    padding: 0.6rem 1.125rem 0.9rem;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 14px;
    background-color: #fff;
    border: 1px #D8D8D8 solid;
    list-style-type: none;
    margin: 0;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 15%);
  }

  &__item {
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: 9px;
    }

    a {
      color: var(--text);

      &:hover {
        color: #5c9dff;
      }
    }
  }
}

.slash {
  width: 23px;
  height: 21px;
  margin: 0 .85rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    left: 50%;
    height: 120%;
    width: 1px;
    background-color: #5c9dff;
  }
}

.tags {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 7.5px;
    row-gap: 8.5px;
  }

  &__item {
    border-radius: 8.5px;
    padding: 6px 13px 7px;
    font-size: 0.85rem;
    letter-spacing: -0.04rem;
    background-color: #e3eeff;
    font-weight: 600;
    color: #5c9dff;
    transition: background-color .3s ease;

    &.active {
      background-color: #5c9dff;
      color: #fff;
    }
  }
}

.section {
  padding: 7vh 0;
}

.header-main {
  padding-top: 4.6vh;

  &__btn {
    border-radius: 50px;
    background-color: #E3EEFF;
    font-weight: 600;
    color: #5c9dff;
    text-decoration: none;
    padding: .55rem 1.25rem;
    transition: background-color .3s ease;

    &:hover {
      color: #5c9dff;
      background-color: rgba(#5c9dff, .3);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__tel {
    display: block;
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--text);
    margin-right: 20px;
    text-decoration: none;
  }

  &__search-input {
    display: block;
    background-image: url(assets/img/dist/search.svg);
    background-position: .75rem center;
    background-size: auto 70%;
    background-repeat: no-repeat;
    width: 3.25rem;
    height: 37.5px;
    padding-left: 40px;
    border-radius: 14.5px;
    border: 1px rgba(#131313, .9) solid;
    transition: width .3s ease-out;

    &:focus {
      width: calc(3.25rem * 3);
    }
  }

  &__address {
    border-radius: 14.5px;
    border: 1px rgba(#131313, .9) solid;
    padding: 6px 16px;
    margin: 0;
    font-size: 0.95rem;
  }

  &__address-icon {
    margin-right: 0.75rem;
  }

  &__search-input {
    margin-right: 0.5rem;
  }

  &__wrapper--primary {
    margin-bottom: 0.55rem;
    flex-wrap: wrap;
  }

  &__nav {
    .menu-list {
      list-style-type: none;
      display: flex;
      padding: 0;
      column-gap: 1.25rem;
      row-gap: 1rem;
    }

    >.menu-list {
      margin: 0 -15px;
      position: relative;
      z-index: 100;

      .menu-list {
        padding: .6rem 1.125rem .9rem;
        border-radius: 14px;
        background-color: #fff;
        border: 1px #D8D8D8 solid;
        box-shadow: 0px 4px 4px 0px #00000026;
      }

      >.menu-item {
        .menu-item {
          margin-bottom: .55rem;
          line-height: normal;

          &:last-child {
            margin-bottom: 0;
          }
        }

        >a,
        a {
          color: #565655;
          text-decoration: none;

          &:hover {
            color: #5C9DFF;
          }
        }

        >a {
          position: relative;
          display: block;
          transition: all .5s ease;
          padding: 5px 15px;

          &.active {
            color: var(--text);
            font-weight: bold;
          }

          &:hover {
            border-radius: 14px;
            background-color: #e3eeff;
          }
        }
      }
    }

    .menu-item {
      position: relative;
      line-height: 1.1;
    }

    .menu-item.menu-item-has-children {
      &::after {
        content: "";
        display: block;
        background-image: url(assets/img/dist/nav-arr.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        right: .5rem;
        top: .5rem;
        width: 10px;
        height: 10px;
        pointer-events: none;
        position: absolute;
      }

      >a {
        padding-right: 25px;
      }

      &:hover>.menu-list {
        display: block;
      }

      .menu-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }


  }
}

.footer {
  margin-top: 11.85vh;
  padding-top: 5.55vh;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    max-width: 1330px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: #eaeaea;
    height: 1px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
  }

  &__h2 {
    font-weight: bold;
    font-size: 1.4rem;
  }

  &__list {
    list-style-type: none;
    margin: 1rem 0;
    column-gap: 6rem;
    row-gap: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
  }

  &__arrow {
    font-size: 1.4rem;
    color: #000;
    opacity: 0.3;
    font-weight: bold;
    transform: rotate(105deg);
  }

  &__tel {
    font-size: 1.15rem;
    font-weight: bold;
    color: #5c9dff;
  }

  &__item {
    font-weight: bold;
    font-size: 0.9rem;

    a {
      color: #000;
      opacity: 0.3;

      &:hover {
        color: #5C9DFF;
        opacity: 1;
      }
    }
  }

  &__bottom {
    display: flex;
    column-gap: .6rem;
    row-gap: 1rem;
    margin-top: 1.55rem;
  }

  &__btn {
    border: 1px solid #5c9dff;
    background-color: #fff;

    &:hover {
      border: 1px solid #5c9dff;
      background-color: #fff;
      opacity: 0.4;
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: 6px;
  }

  &__text {
    color: #b3b3b3;
    font-size: 0.9rem;
    margin-bottom: 0;
    line-height: 1.67;
    letter-spacing: -0.02rem;
    font-weight: 600;
  }

  &__bg {
    background-color: #e3eeff;
    padding: 0.8rem 0 0.7rem;
    margin-top: 8vh;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: space-between;
  }

  .copyright {
    font-weight: 600;
    font-size: .8rem;
    color: #5c9dff;
    margin: 0;
    transition: opacity .3s ease;

    &:hover {
      opacity: 0.65;
    }
  }

  .privacy {
    @extend .copyright;
    text-decoration: underline;
  }

}

.section-main {
  padding: 7.4vh 0 7vh;

  &__img {
    border-radius: 33px;
    box-shadow: -15px -15px 0px 0px rgba(92, 157, 255, 1);
    display: block;
    transform: rotate(-2.32deg);
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }

  &__btn-wrap {
    margin-top: 2.25rem;
  }

  &__subtext {
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin-bottom: 24px;
    border-radius: 64px;
    background-color: #5c9dff;
    padding: 6px 18px 7px;
  }

  &__h1 {
    font-size: 2.75rem;
    margin-bottom: 8px;

    span {
      font-family: "CodecPro";
      display: inline-block;
      transform: scaleY(.85);
      position: relative;
      bottom: -1.5px;
      text-transform: uppercase;
    }
  }

  &__subtitle {
    font-size: 1.05rem;
    margin-top: 0;
    margin-bottom: 25px;
    color: var(--text);
  }
}

.section-shares {
  padding: 7vh 0 11vh;

  a:not(.btn) {
    color: #000;

    &:hover {
      color: #5c9dff;
    }
  }

  &__h2 {
    margin-bottom: 4.6vh;
  }

  &__btn {
    width: 100%;
    margin-top: 28px;
  }

  &__text {
    font-size: 1.125rem;
    letter-spacing: -0.04rem;
    opacity: .4;
  }

  &__h3 {
    margin-bottom: 13px;
    font-weight: 800;
    letter-spacing: -0.04rem;
    font-size: 1.5rem;
    padding-right: 40%;
    position: relative;

    &::after {
      content: "";
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      background-image: url(assets/img/dist/boom.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 2rem;
      height: 2rem;
      transition: all .5s ease-out;
    }

    &:hover::after {
      transform: translateY(-50%) rotate(90deg);
      opacity: .4;
    }
  }

  &__img {
    margin-top: 1.25rem;
    display: block;
    border-radius: 12.5px;
    overflow: hidden;
    img {
      width: 100%;
      height: 182px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__row>div:not(div:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: #000;
      opacity: 0.2;
      right: 0;
      top: 0;
      width: 1px;
      bottom: calc(61px + .85rem);
    }
  }
}

.section-help {
  padding: 1.75rem 0 6.4vh;

  &__h2 {
    margin-bottom: 24px;
  }

  &__body-wrap {
    display: flex;
    align-items: center;

    &:hover {
      .section-help__img {
        transform: rotate(45deg) scale(1.25);
      }
    }
  }

  &__list {
    list-style-type: none;
    margin: 0 0 0 1.25rem;
    border-left: 1px solid #5C9DFF;
    padding-left: 1.25rem;
  }

  &__item {
    font-size: 1.05rem;
    margin-bottom: 13px;
    font-weight: 600;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #000;
      opacity: .4;
      transition: opacity .3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__img {
    transition: transform .3s ease-out;
  }

  &__wrapper {
    display: flex;
    background-color: rgba(#5c9dff, .1);
    border-radius: 50px;
    padding: 5.1vh 3.125vw;
    flex-wrap: wrap;
    margin: 0 -1rem;
    row-gap: 7.4vh;
  }

  &__body {
    padding: 0 1rem;
    width: 25%;
  }

  &__title {
    font-size: 1.35rem;
    margin-bottom: 27px;
    font-weight: 800;
  }
}

.specialist {
  &__header {
    &:hover {
      opacity: 0.68;
    }
  }

  &__footer {
    color: #000;
  }

  &__title {
    color: #5c9dff;
    font-weight: bold;
    letter-spacing: -0.04rem;
    margin: 0;
    font-size: 1.35rem;
  }

  &__subtitle {
    color: #999;
    letter-spacing: -0.04rem;
    font-size: 1.35rem;
    margin-bottom: 14px;
  }

  &__name {
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 1.35rem;
  }

  &__patronymic {
    font-weight: 300;
    font-size: 1.35rem;
    margin: 0;
  }

  &__card {
    border-radius: 15.5px;
    overflow: hidden;
    border: 4.5px solid #BFD7FF;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover .specialist__overlay {
      opacity: 1;
    }
  }

  &__overlay {
    height: 350px;
    opacity: 0;
    text-align: center;
    background-color: rgba(#5C9DFF, .7);
    display: flex;
    justify-content: flex-end;
    padding: 0 .75rem 3rem;
    align-items: center;
    flex-direction: column;
    transition: opacity .3s ease;
  }

  &__btn {
    font-size: .9rem;
    width: 100%;

    &:first-child {
      margin-bottom: 5px;
    }
  }
}

.section-specialist {
  &__h2 {
    margin-bottom: 4.6vh;
  }

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    border-radius: 10rem;
    transform: translateY(-50%);
    width: 2.95rem;
    height: 2.95rem;
    outline: none;
    border: none;
    background-color: #e6f0ff;
    transition: all .3s ease;
    z-index: 10;

    &--left {
      left: -4.9vw;
    }

    &--right {
      right: 4.9vw;

      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: #5c9dff;

      use {
        fill: #fff !important;
      }
    }
  }
}

.section-reviews {
  padding: 4.6vh 0;

  &__h2 {
    margin-bottom: 5.55vh;
  }

  &__body {
    padding: 1.2rem 1.75rem 1.5rem;
    background-color: #bbd6ff;
    border-radius: 10px;
  }

  &__title {
    font-weight: 800;
    font-size: 1.125rem;
    margin-top: 0;
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 3.5rem;
    font-weight: 500;
  }

  &__name {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;

    &:hover {
      opacity: 0.4;
    }
  }

  &__btn-body {
    padding: 10px 15px 11px;
    font-size: 0.9rem;
  }

  &__btn {
    font-size: 1.2rem;
    margin-top: 5.55vh;
  }

  &__service {
    margin: 0;
    color: #747474;
    font-weight: 500;

    span {
      text-decoration: underline;
    }

    &:hover {
      color: #5c9dff;
    }
  }

  &__wrap-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  &__arrow {
    @extend .section-specialist__arrow;

    &--left {
      @extend .section-specialist__arrow--left;
    }

    &--right {
      @extend .section-specialist__arrow--right;
    }
  }
}

.section-about {
  &__h2 {
    margin-bottom: 25px;
  }

  &__item {
    cursor: pointer;

    &:hover {
      background-color: rgba(#5c9dff, .3);
      color: #5c9dff;
    }

    &.active {
      &:hover {
        background-color: #77ADFf;
        color: #fff;
      }
    }
  }

  &__list {
    margin-bottom: 0.5rem;
  }

  &__wrap-toggle {
    display: none;
    flex-wrap: wrap;
    display: none;
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: #f5f9ff;
    border-radius: 24px;
    padding: 1rem 2rem 1.45rem;
    margin-bottom: 2.3rem;

    &.active {
      display: flex;
    }
  }

  &__h3 {
    font-weight: 800;
    font-size: 1.75rem;
    margin-bottom: 17px;
  }

  &__text {
    font-size: 1.2rem;
  }

  &__next {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  &__toggle-text {
    margin: 0;
    flex: 1 1 510px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #5c9dff;
  }

  &__wrap-img {
    position: relative;
  }

  &__img {
    display: block;
    border-radius: 15px;
  }

  &__logo {
    position: absolute;
    bottom: -2rem;
    right: 0;
  }
}

.section-contacts {
  &__h2 {
    margin-bottom: 29px;
  }

  &__h3 {
    font-size: 2.4rem;
    margin: 0;
  }

  &__wrapper {
    padding: 1.25rem 0 2rem;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.85rem;
    margin-bottom: 1.125rem;
  }

  &__sidebar {
    background-color: #5c9dff;
    border-radius: 24px;
    color: #fff;
    padding: 1.3rem 1.9rem 1.5rem 1.9rem;
  }

  &__sidebar-header {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.55rem;
  }

  &__logo-text {
    font-size: 0.75rem;
    padding: 3px 8px 4px;
    border: 1px solid #fff;
    font-weight: bold;
    border-radius: 5px;
    margin: 0;
  }

  &__message {
    font-size: 0.9rem;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 23px;
    color: var(--text);
    background-color: #fff;
    font-weight: 800;
    border-radius: 26px 20px 20px 0;
    padding: 17px 19px 16px;
    transition: background-color .3s ease;

    &:hover {
      background-color: rgba(#fff, .34);
    }
  }

  &__img {
    display: block;
    margin-bottom: .6rem;
  }

  &__address {
    font-size: 1.75rem;
    margin: 0;
    font-weight: 600;
    line-height: 1.16;
  }

  &__tel {
    font-size: 2.1rem;
    color: #fff;
    display: block;
    font-weight: 800;
    margin: 66px 0 73px;

    &:hover {
      color: #fff;
      opacity: 0.4;
    }
  }

  &__sidebar-btn {
    background-color: transparent;
    width: 100%;
    font-size: 1.125rem;
    border-radius: 19px;
    padding: 12px 35px 15px 55px;
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      color: #5c9dff;
      background-color: #fff;

      use {
        fill: #5c9dff !important;
      }
    }

    svg {
      display: block;
      position: absolute;
      left: 19px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  &__footer-title {
    opacity: 0.5;
  }

  &__footer-title,
  &__footer-text {
    margin: 0;
    font-weight: 600;
    font-size: 1.3rem;
  }

  &__map {
    margin-bottom: 1.25rem;
  }
}

.card {
  border-radius: 12px 12px 17px 17px;
  border: 1px solid #5C9DFF;
  overflow: hidden;
  margin-bottom: 2rem;

  &__body {
    padding: 1.05rem 1.05rem .85rem;
  }

  &__title {
    font-size: 1.55rem;
    font-weight: 800;
    line-height: 0.97;
    letter-spacing: -0.04rem;
    margin-bottom: 7px;
  }

  &__text {
    opacity: 0.4;
    font-size: 0.85rem;
    line-height: 0.97;
    letter-spacing: -0.04rem;
  }

  &__btn {
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center;
  }
}

.section-category {
  &__h1 {
    margin-bottom: 0;
  }

  &__specialist {
    margin-bottom: 7.4vh;
  }

  &__head {
    margin-bottom: 4.6vh;
    display: flex;
    align-items: center;
  }
}

.section-content {
  padding: 3.4vh 0 6.38vh;

  h2 {
    @extend .h1;
    margin-bottom: 21px;
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 34px;
  }
}

.section-callback {
  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2.35rem;
    background-color: #f4f8ff;
    border-radius: 34px;
    padding: 1.45rem 2.35rem 1.9rem;
  }

  &__subtitle {
    max-width: 350px;
    font-size: 1.125em;
    margin-bottom: 20px;
  }

  &__h2 {
    font-size: 2.3rem;
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 1.9rem;
  }

  &__accept {
    margin-bottom: 0;
    font-size: .75rem;
    max-width: 250px;
    font-weight: 600;

    a {
      text-decoration: underline;

      &:hover {
        opacity: 0.65;
      }
    }
  }

  &__img {
    display: block;
    margin: auto;
  }
}

.section-single-specialist {
  padding: 5.55vh 0 7.4vh;
  &__wrap-info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.75rem;
    row-gap: 1rem;
  }

  &__img {
    border-radius: 27px;
    width: 260px;
    height: 326px;
    object-fit: cover;
    object-position: center;
  }

  &__tags {
    margin-bottom: 7px;
    
    .tags__item {
      font-size: 1.13rem;
      font-weight: 600;
      color: var(--text);
      background-color: rgba(#ccc, .4);
    }
  }

  &__lastname {
    margin: 0 0 -5px;
    font-weight: bold;
    font-size: 1.75rem;
    color: var(--text);
  }

  &__name {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 32px;
  }

  &__specialisation {
    color: #000;
    font-size: 1.2rem;
    opacity: .4;
    margin-top: 0;
    margin-bottom: 9px;
  }
  
  &__experience,
  &__consultation {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 9px;
  }

  &__btn {
    margin-top: 52px;
    width: 100%;
    text-align: left;
    &::after {
      content: "";
      background-image: url(assets/img/dist/arr-btn.svg);
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 30px;
      height: 30px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.section-single-description {
  &__h2 {
    margin-bottom: 21px;
  }

  &__text {
    font-size: 1.125rem;
  }
}

.section-services {
  &__h2 {
    margin-bottom: 38px;
  }
}

.--hover-overlay {
  display: block;
  transition: background-color .3s ease;

  &:hover {
    background-color: rgba(#5c9dff, .5);
  }

  img {
    position: relative;
    z-index: -1;
  }
}

.--text-center {
  text-align: center;
}

.--bg {
  background-color: #f7faff;
  border-radius: 7px;
  overflow: hidden;
}

@import 'media';